<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content class="dialog">
    <mat-form-field *ngIf="action != 'Deletar'; else elseTemplate">
        <input placeholder="{{action}} Nome" [(ngModel)]="local_data.name" matInput>
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Deletar';">
        <input placeholder="{{action}} Preço" [(ngModel)]="local_data.price" matInput>
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Deletar';">
        <input placeholder="{{action}} Descrição" [(ngModel)]="local_data.description" matInput>
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Deletar';">
        <input placeholder="{{action}} Imagem" [(ngModel)]="local_data.pic" matInput>
    </mat-form-field>
    <ng-template #elseTemplate>
        Confirma a deleção de <b>{{local_data.name}}</b>?
    </ng-template>
</div>
<div mat-dialog-actions style="margin-top: 5%;">
    <button mat-button (click)="doAction()" style="margin-right: 10%;">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button>Cancelar</button>
</div>