.slider {
  max-width: 1100px;
  display: flex;
}
.border-style {
  border: solid 1px #424242;
  border-radius: 10px;
}

.slider .mat-card {
  flex: 1;
  margin: 0 10px;
}
.slider .mat-card .img {
  height: 200px;
  width: 100%;
}
.slider .mat-card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mat-card-content p {
  min-height: 50px;
}

.styleBackground {
  background: #424242;
}

.mat-card-content .btn button:hover {
  transform: scale(0.9);
}

.mat-flat-button {
  color: #fefff6;
  background-color: #42929d;
}
