/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
html,
body {
  background-color: #f8d9d6;
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #fefff6 !important;
}

.mat-form-field-underline {
  /*change color of underline*/
  background-color: #fefff6 !important;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #fefff6 !important;
}

.mat-button {
  background-color: #fefff6;
  color: #42929d;
}

.mat-flat-button {
  background-color: #42929d;
  color: #fefff6;
}

.mat-card-title {
  color: #fefff6;
  margin-left: -16px;
}

.mat-card-header {
  margin: 0;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-calendar-body-selected {
  background-color: #f8d9d6;
  color: #72bbc0;
}

.mat-calendar-body-label[colspan="7"] {
  display: none;
}

.mat-calendar-body-label {
  opacity: 0;
}

.content > mat-card {
  width: 40%;
  vertical-align: middle;
  color: #fefff6;
  background-color: #42929d;
  margin-left: 5%;
}

.mat-dialog-container {
  background-color: #42929d;
  color: #fefff6;
}

.mat-icon {
  color: #42929d;
}

.mat-icon-button {
  font-size: 300%;
}

.mat-mini-fab {
  color: #42929d;
  font-family: "Material Icons" !important;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  color: #42929d;
  background-color: #42929d;
}

.mat-tab-label {
  background-color: #42929d;
}

.mat-tab-group {
  background-color: #42929d;
  color: #fefff6;
}

.mat-tab-label-content {
  color: #fefff6;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #fefff6;
}
