table {
    width: 100%;
    background-color: #42929D;
    color: #FEFFF6;
}

.table-container {
    height: 350px;
    width: 60%;
    overflow: auto;
    margin-left: 10%;
    margin-right: 8%;
}

.mat-icon {
    color: #FEFFF6;
    size: 50%;
}