.backStyle {
  background-color: #f8d9d6;
}

table {
  width: 100%;
  background-color: #42929d;
  color: #fefff6;
}

.table-container {
  height: 350px;
  width: 60%;
  overflow: auto;
  margin-left: 10%;
  margin-right: 8%;
}

.mat-icon-button {
  padding: auto;
}

.gg-remove-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 4px;
}
.gg-remove-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}
