<div class="content">
    <div class="example-container">
        <table mat-table class="mat-elevation-z8" [dataSource]="items">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>
            <ng-container matColumnDef="preço">
                <th mat-header-cell *matHeaderCellDef> Preço </th>
                <td mat-cell *matCellDef="let element"> {{element.price | currency:'R$'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'R$'}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
    </div>

</div>