table {
  width: 100%;
  background-color: #42929d;
  margin-right: auto;
  margin-left: auto;
  color: #fefff6;
}

.holder {
  height: 350px;
  margin-top: 5%;
  width: 80%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  width: 80%;
  vertical-align: middle;
  color: #fefff6;
  margin-right: auto;
  margin-left: auto;
  background-color: #42929d;
  margin-top: 2.5%;
}

.mat-button {
  background-color: #fefff6;
  color: #42929d;
}
