.content {
    padding: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8D9D6;
}

table {
    width: 100%;
    background-color: #42929D;
    color: #FEFFF6;
}

.example-container {
    height: 350px;
    width: 60%;
    overflow: auto;
}

tr.mat-footer-row {
    font-weight: bold;
}