.content {
  padding: 16px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8d9d6;
}

.content > mat-card {
  width: 40%;
  vertical-align: middle;
  color: #fefff6;
  background-color: #42929d;
  margin-left: 5%;
}

.form-control {
  background-color: #fefff6;
  color: #42929d;
}

.mat-button {
  background-color: #fefff6;
  color: #42929d;
}

.label {
  color: #fefff6;
}

.mat-card-title {
  color: #fefff6;
  margin-left: -16px;
}

.mat-card-header {
  margin: 0;
}

.validator {
  color: #f8d9d6;
  font-weight: bold;
}

input:focus {
  border-color: #84c3c8;
}

.btn-link {
  color: #fefff6;
  font-size: small;
}
