.content {
    padding: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8D9D6;
}

.content>mat-card {
    width: 40%;
    vertical-align: middle;
    color: #FEFFF6;
    background-color: #42929D;
    margin-left: 5%;
}

.form-control {
    background-color: #FEFFF6;
    color: #42929D;
}

.label {
    color: #FEFFF6;
}

.validator {
    color: #f8d9d6;
    font-weight: bold;
}

input:focus {
    border-color: #84c3c8;
}